[Desktop Entry]
Type=Application
Name=rFirma
Exec=rfirma %u
Icon=me.sgomez.rfirma
Terminal=false
Categories=Utility;
MimeType=x-scheme-handler/afirma;
